# fly.toml app configuration file generated for nutricionez-frontend on 2025-04-18T23:57:08+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'nutricionez-frontend'
primary_region = 'mad'

[build]

[env]
  NEXT_PUBLIC_STRAPI_URL = 'https://slavbros-content.fly.dev'


[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
